 table{
    height: 10rem;
    border: 2px solid red;
    border-collapse: collapse; 
    margin-left: 12%;
    margin-top: 10%;
   
 }

 table th{
   
    width: 100%;
    color: aliceblue;
 }

 table .th{
    
  border: 2px solid rgb(248, 247, 247);
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(14, 15, 14);
    height: 3rem;
    color: rgb(255, 252, 252);
    width: 15rem;
    padding-top: 1rem;
   
 }

 table tr td{
    background-color: rgb(141, 211, 234);
    border: 2px solid rgb(248, 247, 247);
    height: 5rem;
    color: rgb(237, 5, 5);
    text-align: center;
    font-size: 20px;
    padding-top: 1rem;
   

 }

 table tr td li{
    list-style:none;
 }

 table tr td span{
    color: rgb(253, 13, 21);
    text-decoration: double;
 }